<form name="point-form" #pointForm="ngForm">
  <label>Name : <input type="text" [(ngModel)] = "point.name" name="name" minlength="3"></label>
  <label>Type : <select>
    <option></option>
    <option></option>
    <option></option>

  </select>
  </label>
  <label>Address : <input type="text" [(ngModel)] = "point.address" name="address" minlength="5"></label>
  <label>Latitude : <input type="number" [(ngModel)] = "point.latitude" name="latitude"></label>
  <label>Longitude : <input type="number" [(ngModel)] = "point.longitude" name="longitude"></label>

  <button type="button" [disabled]="!pointForm.form.valid" (click) = "createPoint()">Add point</button>

</form>
