<h3>Add the POI : ({{point.latitude}},{{point.longitude}})</h3>

  <table>
    <form name="point-form" #pointForm="ngForm">
    <tr>
      <td>
        <label>Name : <input type="text" [(ngModel)] = "point.nom" name="name" minlength="3"></label>
      </td>
      <td>
        <label>Categorie :
          <select [(ngModel)] = "point.categorie" name="categorie">
            <option *ngFor="let categorie of getCategories()" [ngValue]="categorie">{{categorie.nom}}</option>
          </select>
        </label>
      </td>
      <td>
        <label>Description : <input type="text" [(ngModel)] = "point.description" name="description" minlength="5"></label>
      </td>
    </tr>

    <tr>
      <td>
        <label>Address : <input type="text" [(ngModel)] = "point.address" name="address" minlength="5"></label>
      </td>
      <td>
        <label>Latitude : <input type="number" [(ngModel)] = "point.latitude" name="latitude"></label>
      </td>
      <td>
        <label>Longitude : <input type="number" [(ngModel)] = "point.longitude" name="longitude"></label>
      </td>
      <td><button type="button" [disabled]="!pointForm.form.valid" (click) = "createPoint()">Add point</button></td>
    </tr>
    </form>
    <tr><app-categorie-form (createCategorieEvent)="updateCategorieList($event)"></app-categorie-form></tr>
  </table>

