

<h2>List of Points of Interest</h2>

<table>

  <tr>
    <td>NAME</td><td>TYPE</td><td>LATITUDE</td><td>LONGITUDE</td><td>ADDRESS</td><td>DESCRIPTION</td>
  </tr>


  <tr  *ngFor="let point of getPoints(); let e=even; let o=odd"  [ngClass]="{odd:o, even:e}">
    <td>      {{point.name}}</td>
    <td>      {{point.type}}</td>
    <td>      {{point.latitude}}</td>
    <td>      {{point.longitude}}</td>
    <td>      {{point.address}}</td>
    <td>      {{point.description}}</td>
  </tr>



</table>

