
<app-point-form (eventEmitter)="updateList($event)"> </app-point-form>
<h3>List of Points of Interest</h3>

<table>

  <tr>
    <td>NAME</td><td>CATEGORIE</td><td>LATITUDE</td><td>LONGITUDE</td><td>ADDRESS</td><td>DESCRIPTION</td>
  </tr>


  <tr  *ngFor="let point of getPoints(); let i = index; let e=even; let o=odd" [attr.data-index]="i"  [ngClass]="{odd:o, even:e}">
    <td>      {{point.nom}}</td>
    <td>      {{point.categorie?.nom}}</td>
    <td>      {{point.latitude}}</td>
    <td>      {{point.longitude}}</td>
    <td>      {{point.address}}</td>
    <td>      {{point.description}}</td>
    <td>      <app-selectedpoint [pointSelected]="point" (eventEmitterSelectedPoint)="updateListRevome(i)"></app-selectedpoint></td>
  </tr>



</table>

